<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
		<div id="board" style="width: 100%"></div>
	</div>

	<div class="col-sm-3">
	    <div class="row">
		    <div class="col-md-6"><div class="well well-sm" id="white_clock"></div></div>
			<div class="col-md-6"><div class="well well-sm" id="black_clock"></div></div>
		</div>
		<div class="row">
		    <div class="col-xs-12">
				<div class="panel panel-default">
				  <div class="panel-body" id="status"></div>
				</div>
			</div>
		</div>
	</div>
	<% content_for :asset_additions do %>
	  <%= javascript_include_tag 'playground' %>
	<% end %>
</div>